@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kang-blue: #052b52;
  --kang-garnet: #611103;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--kang-blue);
}

body::-webkit-scrollbar-track {
  background-color: var(--kang-garnet);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  };
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s
  }
}

.slick-slide > div {
  margin: 0 10px;
}

@layer base {
  @font-face {
    font-family: 'CRACKED';
    src: url('/fonts/Cracked.ttf');
  }
  @font-face {
    font-family: 'PIXELS';
    src: url('/fonts/Pixels.ttf');
  }
  @font-face {
    font-family: 'INVASION';
    src: url('/fonts/Invasion.ttf');
  }
}
